*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
background:#0f172a;
color:white;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
align-items:center;
padding:30px;
flex-direction:column;
}

.main{
width:900px;
margin:auto;
padding:40px;
align-items:center;
text-align:center;
}

h1{
font-size:50px;
margin-bottom:10px;
}

.tag{
color:#cbd5e1;
margin-bottom:30px;
}

.box{
background:white;
color:black;
padding:30px;
border-radius:15px;
width:500px;
margin:auto;
text-align:left;
}

label{
display:block;
margin-top:15px;
font-weight:bold;
}

input{
width:100%;
padding:12px;
margin-top:5px;
border:1px solid gray;
border-radius:8px;
font-size:16px;
}

button{
width:100%;
padding:14px;
margin-top:25px;
background:#2563eb;
color:white;
border:none;
border-radius:8px;
font-size:18px;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
transform:scale(1.10);
}

h2{
margin-top:45px;
margin-bottom:20px;
}

.places{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.places div{
background:white;
color:black;
padding:25px;
border-radius:10px;
cursor:pointer;
font-size:20px;
transition:.3s;
}

.places div:hover{
background:#2563eb;
color:white;
transform:scale(1.10);
}

.trip{
display:flex;
justify-content:center;
gap:20px;
margin:30px;
flex-wrap:wrap;
}

.card{
background:white;
color:black;
padding:25px;
border-radius:12px;
width:420px;
}

.card h2{
margin-bottom:20px;
}

.card p{
margin:10px 0;
}

.bar{
width:100%;
height:20px;
background:#ddd;
border-radius:20px;
overflow:hidden;
margin-top:20px;
}

#fill{
width:0%;
height:100%;
background:green;
transition:.5s;
}

.card input{
margin-top:10px;
}

ul{
margin-top:20px;
}

li{
margin:10px 0;
font-size:18px;
}

li button{
width:auto;
padding:8px 15px;
margin-left:20px;
font-size:14px;
}
#fill2{
width:0%;
height:100%;
background:orange;
transition:.5s;
}

#bag{
margin-top:20px;
}

#bag li{
margin:12px 0;
font-size:18px;
list-style:none;
}

#bag input{
width:auto;
margin-right:10px;
}

#bag button{
width:auto;
padding:6px 12px;
margin-left:20px;
font-size:14px;
}